body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}

#btn-start {
    position: absolute;
    top: 10%;
    left: 47.5%;
}

#section-left {
    width: 25%;
    background-color: #0B7229;
}

#section-middle {
    width: 50%;
    background-color: #2587be;
}

#section-right {
    width: 25%;
    background-color: #0B7229;
}

#animal-start {
    height: 10vh;
    width: 10vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 18%;
}

#raft-start {
    height: 25vh;
    width: 30vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 37.5%;
    left: 27%;
}

#raft-end {
    height: 25vh;
    width: 30vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position:  absolute;
    top: 37.5%;
    left: 58%;
}

#animal-end {
    height: 10vh;
    width: 10vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 77%;
}

#goat {
    height: 8vh;
    width: 8vh;
    border-radius: 50%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 2; /* make goat stack on top of other elements*/
}

#raft {
    height: 23vh;
    width: 28vh;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}